*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
body{
    margin: 0;
    overflow: hidden;
    scroll-behavior: unset;
}

.contaiNer{
    height: 100vh;
    width: 100vw;

   
}
.top{
    padding-top:3px ;
    padding-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    height: 20%;
    width: 100%;
    /* border: 1px solid wheat */
    background-color: #101430;
    

}
.top p{
    color: skyblue;
    font-size: 2rem;
    
}
.eraserButton{
    /* margin-left: 50%; */
    height: 40px;
    padding: 3px;
    width: 6%;
    border-radius:3px ;
    position: absolute;
    left: 93%;
    background:skyblue;
    
    font-size: 1.5rem;
}
.clear{
    height: 40px;
    padding: 3px;
    width: 6%;
    border-radius:3px ;
    position: absolute;
    left: 1%;
    background:skyblue;
    
    font-size: 1.5rem;
}
.middle{
    height: 80%;
    width: 100vw;
    display: flex;
    justify-content: space-between;

}
canvas{
    display: block;
}
#canva{
    width: 94%; 
}
#myCanvas{
    height: 100%;
    width: 100%;
    background-color: black;
}
#myCanvas {
    cursor: url("data:image/svg+xml;base64,..."), auto; /* Replace "..." with your custom cursor image */
  }

.component{
    height:93vh;
    width: 8%;
    /* border: 1px solid wheat; */
    background-color: #101430;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    

}
.pen{
    height: fit-content;
    width: fit-content;
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    background-color: #96c7d9;
    border-radius: 10px;
    
}
.component .color{
    height: 30px;
    width: 30px; 
    margin: 8px;
    padding: 20px;
    border-radius: 50%;
    
}

.bordColor{
    height: fit-content;
    width: fit-content;
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    background-color: #96c7d9;
    border-radius: 10px;
}
.b-color{
    height: 30px;
    width: 30px; 
    margin: 10px;
    padding: 20px;
    border-radius: 50%;
    
    
}